# Build dir
dist/
lib/
*.d.ts

# Docs
docs/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# IDEs
.vscode/
.dir-locals.el
.lvimrc
.DS_Store
/.idea
