.demo {
  height: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.story-custom-highlighted-interval-class {
  opacity: 0.5 !important;
}

.story-custom-highlighted-weekends-class {
  background: #ceefed !important;
}

.story-custom-item-class {
  opacity: 1;
  border: #d47b37 3px solid;
  border-radius: 0;
}

.story-custom-marker-class {
  background: #03c61a !important;
}

.story-custom-now-marker-class {
  background: #f28de6 !important;
}

.story-custom-vertical-grid-class {
  border-left: 1px solid #209ad8 !important;
}

.story-custom-row {
  border-bottom: 1px solid #94b9cf !important;
}

.story-custom-row-even {
  background-color: #dbe8f0 !important;
}

.story-custom-row-odd {
  background-color: #f4f7f8 !important;
}
