.rct9k-timeline-div {
  width: 100%;
  height: 95vh;
  background-color: #a5a5a5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Timeline items */
.rct9k-items-outer {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  z-index: 2;
}
.rct9k-marker-overlay {
  z-index: 1;
  height: 475px;
  position: absolute;
  width: 2px;
  background: red;
  pointer-events: none
}

.ReactVirtualized__Grid {
  overflow-x: hidden;
  outline: none;
}

/* Timeline groups */
